* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
    background: linear-gradient(to bottom, #111, #222);
    color: #fff;
}

.content-wrapper {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background-color: #1e1e2f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.login-container h2{
    color: white;
}

footer {
    background-color: #111;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: #ccc;
}